<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <aop:aspectj-autoproxy />

    <bean id="PBean" class="com.iiss.Point">
        <property name="x" value="1">
        </property>
        <property name="y" value="1">
        </property>
    </bean>

    <bean id="LBean" class="com.iiss.Line"> 
        <property name="p1" ref="PBean">
        </property>
        <property name="p2" ref="PBean">
        </property>
    </bean>

    <bean id="moveTrackingAspect" class="com.iiss.MoveTracking"></bean>

    <aop:config>
        <aop:aspect id="myaspect" ref="moveTrackingAspect">
            <!-- <aop:pointcut id="movePointcut" expression="execution(* com.iiss.Line.setP1(..)) || execution(* com.iiss.Line.setP2(..)) || execution(* com.iiss.Point.setX(..)) || execution(* com.iiss.Point.setY(..))" /> -->
            <aop:pointcut id="movePointcut" expression="execution(* com.iiss.Line.*(..))" />

            <!-- <aop:after method="after" pointcut-ref="movePointcut" /> -->
              
        </aop:aspect>
    </aop:config>

</beans>